.message{
    padding: 0 2%;
    margin: 5px;
    width: fit-content;
    height: fit-content;
    min-width: 15%;
    max-width: 33%;
    box-shadow: 3px 2px 7px lightgray;
    color:black;
}

.sent-message{
    border-radius: 20px 3px 20px 20px;
    background-color: #E8E8E8;
    margin-left: auto;
    text-align: right;
}

.recieved-message{
    border-radius: 3px 20px 20px 20px;
    background-color: #3290fc;
    color:white;
}

.server-message{
    background-color:#3290fc;
    color:white;
}

.message-username{
    font-size: 0.7em;
}

.message-time{
    font-size: 0.6em;
    margin:0;
}

.message-message{
    font-size: 1.2em;
}