.messages{
    overflow: auto;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.messages > :first-child { 
    margin-top: auto 
}

.messagess{
    height:500px;
}