.message{
    padding: 0 2%;
    margin: 5px;
    width: fit-content;
    height: fit-content;
    max-width: 33%;
    box-shadow: 3px 2px 7px lightgray;
    color:black;
}

.sent-message{
    border-radius: 3px 20px 20px 20px;
    background-color: #E8E8E8;
}

.recieved-message{
    text-align: right;
    margin-left: auto;
    border-radius: 20px 3px 20px 20px;
    background-color: #E9C5EB;
}

.server-message{
    background-color: #E9C5EB;
}

.message-username{
    font-size: 0.7em;
}

.message-time{
    font-size: 0.6em;
}

.message-message{
    font-size: 1.2em;
}