.background-message{
    background-color: lightgray;
    width:33%;
    height: 150px;
    filter: blur(30px);
     
}

.right{
    float: right;
    background-color: lightblue;
}

.hidden{
    visibility: hidden;
}

.background-message{
    color:white;
}
.background{
    position: relative;
    z-index: -1;
}
