.background-message{
    background-color: lightgray;
    width:350px;
    height: 140px;
    filter: blur(20px)
}

.float-right{
    float: right;
    background-color: lightblue;
}

.hide{
    visibility: hidden;
}

.background-message{
    color:white;
}


